{{#if loggedIn}}
<section class="part-list">
    <h1 class="badge bg-dark ">RAM List</h1>

    <table class="table table-lg table-dark table-striped table-hover">
        <thead>
            <tr>
               
                <th scope="col">Brand</th>
                <th scope="col">Model</th>
                <th scope="col">Benchmark Score</th>
                <th scope="col">Rank</th>
                <th scope="col">samples</th>
            </tr>
        </thead>
        <tbody>
            {{#each ramList}}
         {{> ram-details}}
            {{/each}}
        </tbody>
    </table>
</section>


<section class="part-pop bg-dark p-4">
    <h2  class="part-pop-title badge bg-warning text-dark p-3">RAM Popularity</h2>
{{#each ramPop}}
<h6>{{brand}} {{model}} <span class="partNum">{{part_number}}</span></h6>
<div class="progress">
    <div class="progress-bar orange" role="progressbar" style="width: {{progress samples}}% " aria-valuenow="100" aria-valuemin="0"
        aria-valuemax="100"></div>
</div>
{{/each}}


</section>
{{else}}
<div class="container bg-light">
    <h2>Welcome to PartHub</h2>
    
<h6><a href="/login">You must login first to view this page</a></h6>
</div>

{{/if }}